@{
    Layout = "_LayoutAuthorize";
    List<Flight> flight= (List<Flight>)ViewData["flights"];
    //RailwayPassengerTransportation.Models.Route chooseRoute = (RailwayPassengerTransportation.Models.Route)ViewData["routeChoose"];
    List<RailwayPassengerTransportation.Models.Route> route = (List<RailwayPassengerTransportation.Models.Route>)ViewData["routes"];
    List<Trip> trips = (List<Trip>)ViewData["trips"];
    
    List<Train> trains = (List<Train>)ViewData["trains"];
    List<Machinist> machinists = (List<Machinist>)ViewData["machinists"];
    List<Conductor> conductors = (List<Conductor>)ViewData["conductors"];



    int num = 1;
}

<h3>Список рейсов</h3>

<a asp-action="Index" class="btn btn-secondary mb-3">Назад</a>
<a asp-action="AddFlight" class="btn btn-success mb-3" >Добавить</a>

<form asp-action="ChooseRoute" class="mb-3">     
    <label class="form-label">Выберите маршрут</label>
    <select class="form-select mb-3" name="route">
        @foreach (var item in route)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <button class="btn btn-primary" type="submit">Выбрать</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">№</th>
            <th>Наименование маршрута</th>
            <th>Время отправления</th>
            <th>Дни недели</th>
            <th>Поезд</th>
            <th>Машинист</th>
            <th>Проводник</th>
            <th class="text-center">Удалить</th>
            <th class="text-center">Редактировать</th>
        </tr>
    </thead>
    <tbody>
        @if (flight!=null) 
        {
            @foreach (var item in flight)
            {
                <tr>
                    <td class="text-center">@num</td>
                    <td>@item.Route.Name</td>
                    <td>@item.TimeStart.TimeOfDay</td>
                    <td>
                        @if (item.isMon) { <span>Понедельник </span>}
                        @if (item.isThues){ <span>Вторник </span>}
                        @if (item.isWen){ <span>Среда </span>}
                        @if (item.isThurs){ <span>Четверг </span>}
                        @if (item.isFrid){ <span>Пятница </span>}
                        @if (item.isSat){ <span>Суббота </span>}
                        @if (item.isSun){ <span>Воскресенье </span>}
                    </td>
                    <td>@item.Train.Name</td>
                    <td>@item.Machinist.Surname @item.Machinist.Name @item.Machinist.Fathername</td>
                    <td>@item.Conductor.Surname @item.Conductor.Name @item.Conductor.Fathername</td>
                    <td class="text-center"><a asp-action="DeleteFlights" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a></td>
                    <td class="text-center">
                        @if (trips!=null)
                        {
                            @if (!trips.Where(a => a.FlightId == item.Id).Any())
                            {
                                //<a class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#editStation_@item.Id">Сформировать поездки по данному расписанию</a>
                                <a asp-action="createTrips" asp-route-id="@item.Id" class="btn btn-primary mb-3">Сформировать поездки по данному расписанию</a>
                            }
                        } else
                        {
                            <a asp-action="createTrips" asp-route-id="@item.Id" class="btn btn-primary mb-3">Сформировать поездки по данному расписанию</a>
                        }
                    </td>
                </tr>

                @*<div class="modal fade" id="editStation_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Редактирование станции</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form asp-action="EditStation">
                                <div class="modal-body">
                                    <label class="form-label">Наименование станции</label>
                                    <input type="text" class="form-control" name="Name" value="" />
                                    <input type="hidden" name="id" value="@item.Id">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отменить</button>
                                    <button type="submit" class="btn btn-success">Редактировать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> *@
                num++;
            }
        }
    </tbody>
</table>

<div class="modal fade" id="addStation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление станции</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddStation">
                <div class="modal-body">
                    <label class="form-label">Наименование станции</label>
                    <input type="text" class="form-control" name="Name" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>