@{
    Layout = "_LayoutAuthorize";
    List<RailwayPassengerTransportation.Models.Route> route = (List<RailwayPassengerTransportation.Models.Route>)ViewData["routes"];
    int num = 1;
}

<h3>Список маршрутов</h3>
<a asp-action="Index" class="btn btn-secondary mb-3">Назад</a>
<a class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addRoute">Добавить</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">№</th>
            <th class="text-center">Просмотр</th>
            <th>Наименование</th>
            <th class="text-center">Удалить</th>
            <th class="text-center">Редактировать</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in route)
        {
            <tr>
                <td class="text-center">@num</td>
                <td class="text-center"><a asp-action="AddRoute" asp-route-id="@item.Id" class="btn btn-primary">Просмотр</a></td>
                <td>@item.Name</td>
                <td class="text-center"><a asp-action="DeleteRoute" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a></td>
                <td class="text-center"><a class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#editRoute_@item.Id">Редактировать</a></td>
            </tr>

            <div class="modal fade" id="editRoute_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Редактирование станции</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form asp-action="EditRoute">
                            <div class="modal-body">
                                <label class="form-label">Наименование станции</label>
                                <input type="text" class="form-control" name="Name" value="@item.Name" />
                                <input type="hidden" name="id" value="@item.Id">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отменить</button>
                                <button type="submit" class="btn btn-success">Редактировать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            num++;
        }
    </tbody>
</table>

<div class="modal fade" id="addRoute" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление маршрута</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AddRoute">
                <div class="modal-body">
                    <label class="form-label">Наименование маршрута</label>
                    <input type="text" class="form-control" name="Name" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>